@{
    ViewData["Title"] = "Home Page";
}

<iframe allowfullscreen="true" src="https://mixer.com/embed/player/tyiki?disableLowLatency=0" width="620" height="349"> </iframe>

<br />
<select id="midiout">
</select>
<br />
<table><tr>
    <td>
        C<br />
        <input type="button" value="ON" data-short-message1="0x90" data-short-message2="0x40" data-short-message3="0x40" /><br />
        <input type="button" value="OFF" data-short-message1="0x80" data-short-message2="0x40" data-short-message3="0x40" />
    </td>
    <td>
        C#<br />
        <input type="button" value="ON" data-short-message1="0x90" data-short-message2="0x41" data-short-message3="0x40" /><br />
        <input type="button" value="OFF" data-short-message1="0x80" data-short-message2="0x41" data-short-message3="0x40" />
    </td>
    <td>
        D<br />
        <input type="button" value="ON" data-short-message1="0x90" data-short-message2="0x42" data-short-message3="0x40" /><br />
        <input type="button" value="OFF" data-short-message1="0x80" data-short-message2="0x42" data-short-message3="0x40" />
    </td>
    <td>
        D#<br />
        <input type="button" value="ON" data-short-message1="0x90" data-short-message2="0x43" data-short-message3="0x40" /><br />
        <input type="button" value="OFF" data-short-message1="0x80" data-short-message2="0x43" data-short-message3="0x40" />
    </td>
    <td>
        E<br />
        <input type="button" value="ON" data-short-message1="0x90" data-short-message2="0x44" data-short-message3="0x40" /><br />
        <input type="button" value="OFF" data-short-message1="0x80" data-short-message2="0x44" data-short-message3="0x40" />
    </td>
    <td>
        F<br />
        <input type="button" value="ON" data-short-message1="0x90" data-short-message2="0x45" data-short-message3="0x40" /><br />
        <input type="button" value="OFF" data-short-message1="0x80" data-short-message2="0x45" data-short-message3="0x40" />
    </td>
    <td>
        F#<br />
        <input type="button" value="ON" data-short-message1="0x90" data-short-message2="0x46" data-short-message3="0x40" /><br />
        <input type="button" value="OFF" data-short-message1="0x80" data-short-message2="0x46" data-short-message3="0x40" />
    </td>
    <td>
        G<br />
        <input type="button" value="ON" data-short-message1="0x90" data-short-message2="0x47" data-short-message3="0x40" /><br />
        <input type="button" value="OFF" data-short-message1="0x80" data-short-message2="0x47" data-short-message3="0x40" />
    </td>
    <td>
        G#<br />
        <input type="button" value="ON" data-short-message1="0x90" data-short-message2="0x48" data-short-message3="0x40" /><br />
        <input type="button" value="OFF" data-short-message1="0x80" data-short-message2="0x48" data-short-message3="0x40" />
    </td>
    <td>
        A<br />
        <input type="button" value="ON" data-short-message1="0x90" data-short-message2="0x49" data-short-message3="0x40" /><br />
        <input type="button" value="OFF" data-short-message1="0x80" data-short-message2="0x49" data-short-message3="0x40" />
    </td>
    <td>
        A#<br />
        <input type="button" value="ON" data-short-message1="0x90" data-short-message2="0x4A" data-short-message3="0x40" /><br />
        <input type="button" value="OFF" data-short-message1="0x80" data-short-message2="0x4A" data-short-message3="0x40" />
    </td>
    <td>
        B<br />
        <input type="button" value="ON" data-short-message1="0x90" data-short-message2="0x4B" data-short-message3="0x40" /><br />
        <input type="button" value="OFF" data-short-message1="0x80" data-short-message2="0x4B" data-short-message3="0x40" />
    </td>
    <td>
        C<br />
        <input type="button" value="ON" data-short-message1="0x90" data-short-message2="0x4C" data-short-message3="0x40" /><br />
        <input type="button" value="OFF" data-short-message1="0x80" data-short-message2="0x4C" data-short-message3="0x40" />
    </td>
</tr></table>

@section Scripts {
    <script type="text/javascript">
        "use strict";

        var pool = [];

        window.setInterval(() => {
            if (pool.length > 0) {
                var temp = pool;
                pool = [];

                fetch('Operate/Note', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json; charset=utf-8"
                    },
                    body: JSON.stringify(temp)
                });
                console.log(temp);
            }
        }, 1);

        window.onload = function () {
            document.querySelectorAll('input').forEach(function (i) {
                i.onclick = function () {
                    pool.push(
                        {
                            "receivedTime": window.performance.timing.navigationStart + window.performance.now(),
                            "data": [
                                Number(this.dataset.shortMessage1),
                                Number(this.dataset.shortMessage2),
                                Number(this.dataset.shortMessage3)
                            ]
                        }
                    );
                }
            });

            var midioutSelect = document.querySelector('#midiout');
            {
                var option = document.createElement("option");
                option.text = "(none)";
                midioutSelect.appendChild(option);
            }

            navigator.requestMIDIAccess({ sysex: false }).then((midi) => {
                midi.inputs.forEach((input) => {
                    var option = document.createElement("option");
                    option.text = input.name;
                    option.value = input.id;
                    midioutSelect.appendChild(option);
                });
            });

            midioutSelect.addEventListener("change", (event) => {
                navigator.requestMIDIAccess({ sysex: false }).then((midi) => {
                    midi.inputs.forEach((input) => {
                        if (event.target.value === input.id) {
                            input.open();
                            input.onmidimessage = function (short) {
                                pool.push({
                                    "receivedTime": window.performance.timing.navigationStart + (short.receivedTime || short.timeStamp),
                                    "data": Array.from(short.data)
                                });
                            }
                        } else {
                            input.onmidimessage = undefined;
                            input.close();
                        }
                    });
                });
            });
        };
    </script>
}
