@{
    ViewData["Title"] = "Start";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<iframe allowfullscreen="true" src="https://mixer.com/embed/player/tyiki?disableLowLatency=1" width="620" height="349"> </iframe>
